@font-face
{font-family:raleway, sans-serif;
src: url(raleway\raleway); 
}

body
{
    margin: 0 2vw;
}
.main
{
    display: flex;
    justify-content: space-between;
   margin: 0 2vw;
    border: 2px pink solid;
  
   
    
   
}
.logo
{
    width: 2vw;
    height: auto;
    margin: 1vw 2vw;
}
.logo img
{
  width: 7vw;
  height: 4vw;  
}

.ancre ul li
{
list-style-type: none;

}
.ancre ul
{
    display: flex;
}
.ancre 
{
   
    border: deeppink 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    
}

.ancremobile
{
   display: flex;
   flex-direction: row;
    border: blueviolet 2px solid; 
    align-items: baseline;
    
}


a
{  
  
    text-decoration: none;
    color: black;
   font-size: 20px;
   
   
}

.ancre a:hover
{
    border-top : 3px solid #0065FC; 
   
    color: #0065FC;   
 
} 
.inscrire
{
    border: chartreuse 2px solid;
   
    
  
 
}
.inscrire a
{
    color: #0065FC;
    font-size: 20px;
   display: flex;
   justify-items:center;
   
    
}
/* 2 E PARTIE header*/
.main1
{
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
    border: steelblue 2px solid;
 }
 
h1
{
    font-size: 150%;
    margin-bottom: 0vw;
    margin-left: 0vw;
    border: springgreen 2px solid;
}
.main1 h2
{
    font-size: 100%;
    margin:0 0 2vw 0;
    font-weight: normal;
    border: yellowgreen 2px solid;

}
#search
{
 
    border-bottom-right-radius:10px;
    border-top-right-radius: 10px;
    width: 6vw;
    height: 2VW;
    background-color: #0065FC ;
    color: #DEEBFF;
    border-style:hidden;
    border: black 2px solid;
    font-size: 1vw;
    }
#search1
{
    visibility: hidden;
}
    
    .ville
    {
        height: 2vw;
        width: 14vw;
        align-items: center;
        border:#F2F2F2 solid 1px; 
        margin-left: 10%;  
        border: crimson 2px solid;   
    }
  
    ::placeholder
    {
        font-weight: bold;
        color: black;
        font-size: large;
        border: springgreen 2px solid;
    }
    .rechercher
    {
        display:flex;
    
        align-items: center;
        height: 2vw;
        width:  10vw;
        background-color:#F2F2F2;
        border-bottom-left-radius: 15px; 
        border-top-left-radius:15px;
        margin: 0 2vw;
        border: turquoise 2px solid;
       
        
    }
   
    .rechercher i
    {
        margin-left: 1vw;
    }
    
    
    

      /* Partie filtres -----------------*/
    .containerfiltres
    {
        display: flex;
        justify-content: space-between;
        align-items:center;
        width: 65%;
       text-transform: capitalize; 
       margin : 1vw 2vw; 
       border: violet 2px solid;
      
    }
    
    .economique
    {
        display: flex;
        justify-content: space-between;
        align-items:center;
        border-radius: 20px;
        
        height: 2vw;
        width: 12vw;
        border: 3px solid #F2F2F2;
        cursor: pointer;
        border: yellow 2px solid;
        
    }
    .economique h3
    {
      
        border: blue 2px solid;
       padding: 0 1vw;
    }

   
    .economique h3:hover
    {
        color: #0065FC;
    }
    .familial
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
       border-radius: 20px;
        width: 10vw;
        height: 2vw;
       margin-left: 3%;
        border: 3px solid #F2F2F2;
        cursor: pointer;
        border: yellow 2px solid;
    } 
        
    .familial h3
    {
        padding: 0 1vw;
        border: blue 2px solid;
       
      
    }
    .familial h3:hover
    {
  
        color: #0065FC;
    }
    .romantique
    {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        border-radius: 20px;
        width: 12vw;
        height: 2vw;
        margin-left: 3%;
        border: 3px solid #F2F2F2;
       cursor: pointer;
       border: yellow 2px solid;

    }
    
    .romantique h3:hover
    {
        
        color: #0065FC;
    }
    .romantique h3
    {
        padding: 0 1vw;
        border: blue 2px solid;
    }
    .animaux
    {
        display: flex;
      align-items: center;
       border-radius: 20px;
        width: 15vw;
        height: 2vw;
        margin-left: 3%;
        border: 3px solid #F2F2F2;
        cursor:pointer;  
        border: yellow 2px solid;
    } 
   
    .animaux h3:hover
    {
    
        color: #0065FC;
    }
    .animaux h3
    {
        
        border: blue 2px solid;
        padding: 0 1vw;
    }

    .icon
    {
    
        align-items: center;
        border-radius:20px;
        background-color: #DEEBFF; 
        height: 40px;
        width: 40px;
        font-size: 15px;
        border: coral 2px solid;
       
    }
    .icon i
    {
    color: #0065FC;
    margin-top: 26%;
    margin-left: 29%;
    border: springgreen 2px solid;
   
   
    }  
    .filtres h3
    {
        text-transform: capitalize; 
        border: darkcyan 2PX solid;   
    }
    
   
     .info i
    {
       border: 1px solid #F2F2F2;
      color: #0065FC;
     padding: 3px 0 0 6px;
      font-size: 11px;
        width : 12px;
      height: 18px;
      border-radius: 20px;
      border: teal 2px solid;
    }
    .info
    {
        display: flex;
        align-items: center;
      
        width: 20px;
        height: 20px;
        border-radius: 50px;
        border-left: 20px;
        margin: 1vw 2vw;
        border: black 2px solid; 
     
    }
    .info p
    {
    margin-left: 10px;
    width: 400px;
    border:tomato 2px solid;
    }
  